.profile_save{
  float: right;
  margin-right: 16px;
}
.dob{
  height: 37.21px;
}
.dist_state{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.add_rm{
  text-align: center;
  margin:auto;
  cursor: pointer;
}
@media (min-width: 544px) {
  .doc-list .col-sm-4{
    width: 32%;
  }
}
@media (min-width: 768px) {
  .doc-list .col-md-3{
    width: 24%;
  }
}
ul,li{
  margin:0;
  padding: 0;
}
@media (min-width: 1200px) {
  .doc-list .col-xl-2{
    width: 16%;
  }
}
#dir_description_add{
  resize: none;
}
.doc_head{
  text-align: center;
  margin-top: 5px;
}
th{
  text-align: center;
}
.divider{
  position:absolute;
  left:50%;
  top:10%;
  bottom:10%;
  border-left:1px solid red;
}
.doc-list{
  margin-bottom: 10px;
  margin-top: -20px;
  margin-right: -14px;
  margin-left: -14px;
  min-height: 500px;
  padding: 20px;
  overflow: hidden;
}
.doc_item_tumbanail{
  height: 120px;
}
.doc_items{
  padding: 10px;
  height: 230px;
  border: 1px solid red;
  margin: 15px;
  -webkit-box-shadow: -2px 2px 24px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px 2px 24px 1px rgba(0,0,0,0.75);
  box-shadow: -2px 2px 24px 1px rgba(0,0,0,0.75);
}
.inner-flip{
  vertical-align: middle;
}
.action-list{
  margin-bottom: 10px;
  margin-top: -20px;
  margin-right: -14px;
  margin-left: -5px;
}
.card-block{
  padding: 1.1rem !important;
}
.cd-error-message {
  display: inline-block;
  position: absolute;
  background: rgba(228, 0, 0, 0.9);
  padding: .5em;
  z-index: 2;
  color: #FFF;
  border-radius: 0.25em;
  /* prevent click and touch events */
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s 0, visibility 0 0.2s;
  -moz-transition: opacity 0.2s 0, visibility 0 0.2s;
  transition: opacity 0.2s 0, visibility 0 0.2s;
}
.cd-error-message::after {
  /* triangle */
  content: '';
  position: absolute;
  left: 22px;
  bottom: 100%;
  height: 0;
  width: 0;
  border-bottom: 8px solid rgba(215, 102, 102, 0.9);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}
.cd-error-message.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.2s 0, visibility 0 0;
  -moz-transition: opacity 0.2s 0, visibility 0 0;
  transition: opacity 0.2s 0, visibility 0 0;
}
.pass-pop{
  padding: 30px;
}

.cd-popup-container{
  text-align: left !important;
  padding: 30px;
}
.cd-popup-container p{
  padding: 1em 0em !important;
}
.q1{
  width: 25%;
}
.q2{
  width: 50%;
}
.q3{
  width: 75%;
}
.q4{
  width: 100%;
}
.context-menu-root .fa{
  font:normal normal 17px/2 FontAwesome !important;
}
.varify{
  display: inline-block !important;
  float: left;
  margin-right: 10px;
}
.var-error{
  display: inherit !important;
}
.datatable_button:hover{
  background-color: transparent !important;
  color: black !important;
}
.doc_status_flip{
  background-color: red;
  height:25px;
  text-align: center;
  font-weight: normal;

}
